*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat';
    background: #F1F1F1;
}
.border{
    border: 2px solid #D08840;
    height: 7vh;
    margin-top: 30px;
    /* margin: auto; */
    display: flex;
    align-items: center;
}

.art{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    
}
.cart-list{
    width: 80%;
    margin: auto;
    margin-top: 40px;
    /* display: flex; */
    /* align-items: center; */
}
.cart{
    /* display: flex; */
    width: 100%;
    gap: 20px;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;
    /* align-items: center; */
    background-color: white;
}
.cart-item{
    display: flex;
    /* width: 70%; */
    gap: 20px;
    /* padding: 10px; */
    /* justify-content: space-between; */
    align-items: center;
    /* background-color: white; */
}
.radio {
    height: 20px;
    width: 20px;
    border: 1px solid rgb(166, 163, 163);   
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.radio2{
    height: 12px;
    width: 12px;
    border:none;
    background-color: #D08840;  
    border-radius: 20px
}
.cartimg img{
    width: 18rem;
}
.body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: red; */
    width: 65%;
}
.incress{
    display: flex;
    align-items: center;
    /* column-gap: 30px; */
    justify-content: space-between;
    /* background-color: red; */
    width: 20%;
}
.incress i{
    font-size: 30px;
}
.remove{
    margin-top: -50px;
    display: flex;
    justify-content: end;
}
.remove button{
    padding: 10px 30px;
    border-radius: 20px;
    background-color: #D08840;
    border: none;
    color: white;
}


.bottom{
    display: flex;
    align-items: center;
    margin-top: 40px;
    justify-content: space-around;
}
.remove button i{
    padding-right: 10px;
}

.radia{
    display: flex;
    align-items: center;
    gap: 30px;
}

.check button{
    padding: 10px 60px;
    border-radius: 20px;
    border: none;
    background-color: #D08840;
    color: white;
    font-size: 16px;
}


.footer{
    display: flex;
    column-gap: 10px;
    justify-content: center;
    background-color: #1C2838;
    color: white;
    height: 10vh;
    align-items: center;
    margin-top: 70px;
}
.list{
    display: flex;
    column-gap: 10px;
}
.list li{
    list-style: none;
}
.list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.footer2 {
    display: flex;
    /* column-gap: 20px; */
    justify-content: space-around;
    background-color: #1C2838;
    color: white;
    height: 10vh;
    align-items: center;
    margin: 30px 0;
}
.empty2{
    width: 70px;
}
.footer2 > div img{
    width: 8rem;
}
.footer2 > div a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}

@media screen and (max-width:576px) {
    .border{
        width: 100%;
    }
    .art{
        width: 98%;
    }
    .text h2{
        font-size: 15px;
    }
    .cart-list{
        width: 96%;
    }
    .cart{
        width: 100%;
    }
    .cartimg img{
        width: 11rem;
    }
    .incress{
        width: 50%;
    }
    .footer2{
        display: flex;
        justify-content: center !important;
    }
    .footer{
        display: flex;
        justify-content: center !important;
        /* gap: 5px;  */
    }
    .list li a{
        text-decoration: none;
        color: white;
        font-size: 13px;
        font-weight: 700;
    }
}
@media screen and (max-width:524px){
    .remove{
        margin-top: 0px;
    }
}
@media screen and (max-width:426px){
    .footer{
        gap: 2px; 
    }
    .list{
        gap: 2px;
    }
    .list li a{
        text-decoration: none;
        color: white;
        font-size: 10px;
        font-weight: 700;
    }
    .incress{
        margin-top: 10px;
        width: 70%;
    }
    .footer2 > div a{
        text-decoration: none;
        color: white;
        font-size: 12px;
        font-weight: 700;
    }
    }
    
    @media screen and (max-width:360px){
        .cartimg img{
            width: 8rem;
        }
        .remove{
            margin-top: 10px;
        }
    }  
    
   