* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: #7878780c;
  font-family: "Montserrat";
}
div.general-body > div:nth-child(1) {
  width: 100%;
  height: 60px;
  padding: 10px 0px;
}
div.general-body > div:nth-child(1) > div:nth-child(1) {
  width: 100%;
  height: 30px;
  border: 2px solid #d08840;
}
div.general-body > div:nth-child(1) > div:nth-child(1) > div p {
  font-weight: 600;
  font-size: 21px;
  color: #252525;
}
div.general-body > div:nth-child(1) > div:nth-child(1) > div {
  width: 50%;
  height: auto;
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
}
div.general-body > div:nth-child(1) > div:nth-child(1) > div img {
  width: 20px;
  margin-top: 5px;
}
div.general-body > div:nth-child(2) {
  width: 100%;
  height: 49vh;
  margin-top: 10px;
  padding: 10px 30px;
}
div.general-body > div:nth-child(2) > div:nth-child(1) {
  width: 80%;
  height: 35vh;
  margin: auto;
}
div.general-body > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
  width: 80%;
  height: 35vh;
  border-radius: 15px;
  padding: 20px;
  border: 2px solid #141c27;
  color: #252525;
}
div.general-body > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > p {
  margin-top: 20px;
}
div.general-body
  > div:nth-child(2)
  > div:nth-child(1)
  > div:nth-child(1)
  > div {
  width: 10%;
  height: auto;
  justify-content: space-between;
  margin-top: 20px;
  float: right;
  display: flex;
}
div.general-body
  > div:nth-child(2)
  > div:nth-child(1)
  > div:nth-child(1)
  > div
  > img {
  width: 20px;
  height: 25px;
}
div.general-body > div:nth-child(2) > div:nth-child(2) > button {
  padding: 10px 60px;
  border: none;
  border-radius: 15px;
  background: #d08840;
  color: white;
  font-weight: 600;
  margin: auto;
  display: flex;
  margin-top: 30px;
}

div.general-body > div:nth-child(3) {
  width: 100%;
  height: 33vh;
}
div.general-body > div:nth-child(3) > div:nth-child(1) {
  width: 100%;
  height: 15vh;
  background: #1c2838;
  margin-top: 30px;
  color: white;
}
li,
a {
  list-style-type: none;
  text-decoration: none;
  color: white;
}
div.general-body > div:nth-child(3) > div:nth-child(1) > ul {
  justify-content: space-evenly;
  margin: auto;
  display: flex;
  width: 60%;
}
ul > div,
ul > li {
  margin-top: 30px;
}
div.general-body > div:nth-child(3) > div:nth-child(2) {
  width: 100%;
  height: 10vh;
  background: #1c2838;
  margin-top: 25px;
}
div.general-body > div:nth-child(3) > div:nth-child(2) > div {
  width: 80%;
  height: 10vh;
  margin: auto;
  display: flex;
}
div.general-body > div:nth-child(3) > div:nth-child(2) > div img {
  width: 130px;
  height: 50px;
  margin-top: 5px;
}
div.general-body > div:nth-child(3) > div:nth-child(2) > div a {
  margin: auto;
}
@media screen and (max-width: 992px) {
  div.general-body > div:nth-child(1) > div:nth-child(1) > div {
    width: 60%;
  }
  div.general-body > div:nth-child(3) > div:nth-child(2) > div img {
    width: 110px;
    height: 40px;
  }
  li > a {
    font-size: 15px;
  }
  div.general-body > div:nth-child(3) > div:nth-child(1) > ul {
    width: 90%;
  }
  div.general-body > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
    width: 100%;
    height: 30vh;
  }
}
@media screen and (max-width: 768px) {
  div.general-body > div:nth-child(3) > div:nth-child(1) > ul {
    width: 90%;
  }
  div.general-body > div:nth-child(1) > div:nth-child(1) > div {
    width: 55%;
  }
  div.general-body > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
    font-size: 12px;
  }
  div.general-body
    > div:nth-child(2)
    > div:nth-child(1)
    > div:nth-child(1)
    > div {
    width: 15%;
  }
  div.general-body
    > div:nth-child(2)
    > div:nth-child(1)
    > div:nth-child(1)
    > div
    > img {
    width: 15px;
    height: 20px;
  }
}

@media screen and (max-width: 560px) {
  div.general-body > div:nth-child(1) > div:nth-child(1) > div p {
    font-size: 17px;
  }
  div.general-body > div:nth-child(3) > div:nth-child(1) > ul {
    width: 100%;
  }
  li > a {
    font-size: 10px;
  }
  div.general-body > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
    font-size: 10px;
  }
  div.general-body > div:nth-child(2) > div:nth-child(2) > button {
    padding: 10px 30px;
    font-size: 10px;
    margin-top: 15px;
  }
}
@media screen and (max-width: 420px) {
  div.general-body > div:nth-child(1) > div:nth-child(1) > div {
    width: 60%;
  }
  div.general-body > div:nth-child(3) > div:nth-child(2) > div a {
    font-size: 13px;
  }
  div.general-body > div:nth-child(3) > div:nth-child(1) > ul {
    font-size: 11px;
  }
  div.general-body > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
    font-size: 8px;
  }
  div.general-body
    > div:nth-child(2)
    > div:nth-child(1)
    > div:nth-child(1)
    > div {
    width: 20%;
  }
}
@media screen and (max-width: 360px) {
  div.general-body > div:nth-child(1) > div:nth-child(1) > div p {
    font-size: 15px;
  }
  li > a {
    font-size: 9px;
  }
}
