*{
    margin: 0;
    padding: 0;
}

.order-container{
    height: 45px;
    border: 2px solid #D08840;
    margin-top: 40px;
    margin-bottom: 40px;
}
.header{
    padding-left: 8%;
    display: inline-flex;
    align-items: center;
    padding-top:5px ;
    padding-bottom: 10px;
   
}
.header h2{
    font-weight: 500;
    font-size: 30px;
    margin-left: 500px;
}
.headings{
    padding-left:  8%;
    padding-right: 8%;
}
.heading-content{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
.heading-content .span1, .span2{
   cursor: pointer;
   text-align: center;
   width: 320px;
}
.span1 h1, .span2 h1{
    font-weight: 400;
    font-size: 27px;
}
.heading-content .span1{
    border-bottom: 2px solid  #D08840;
}

.com-can{
    display: flex;
    height: 190px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    margin-bottom: 30px;
}
.price-text{
    width: 100%;
    padding: 30px 20px 30px 10px;
    
}
.h-text{
    width: 130px;
    padding-bottom: 15px;
}
.h-text h4{
    font-weight: 600;
    font-size: 16px;
}
.hashtag-price{
    display: flex;
   justify-content: end;
   padding-bottom: 15px;
}
.status-text{
    display: flex;
    align-items: center;
    gap: 10px;
}
.status-text h3{
    font-weight: 700;
    font-size: 30px;

}
.status-text h4{
    font-weight: 500;
    font-size: 16px;
    padding-top: 5px;
}
/* .cat-shop{
    Height: 50px;
    background: #1C2838;
    padding-top: 10px;  
    padding-bottom: 10px;
}
.cat-shop .footer{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.footer h5{
    font-size: 20px;
    font-weight: 400;
    padding-top: 10px;
    color: #FFFFFF;
}
.footer hr{
    margin-top: 15px ;
}
.copy-right{
    height: 60px;
    background: #1C2838;
    margin-top: 30px;
    margin-bottom: 50px;
}
.copy-logo{
    display: flex;
    align-items: center;
    padding-top: 5px;
}
.copy-logo h3{
    padding-left: 30%;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;

}
.copy-logo img{
    padding-left: 8%;
    height: 50px;
} */

@media screen and (max-width:992px) {
  
    .header h2 {
        margin-left: 400px;
    }
}
@media screen and (max-width:768px) {
  
    .header h2 {
        margin-left: 280px;
    }
}
@media screen and (max-width:560px) {
    
    .header{
        padding-top: 6px;
    }

    .header h2 {
        font-size: 25px;
        margin-left: 200px;
    }
    .h-text h4 {
    font-size: 13px;
}
.hashtag-price h2 {
    font-size: 20px;
}

.status-text h4 {
   font-size: 11px;
}
.status-text h3 {
    font-size: 20px;
}
.span1 h1, .span2 h1 {
    font-size: 25px;
}
.com-can {
    height: 140px;
}
}
@media screen and (max-width:375px) {
  
    .header h2 {
        font-size: 20px;
        margin-left: 100px;
    }
    .span1 h1, .span2 h1 {
        font-size: 20px;
    }
    .header{
        padding-top: 12px;
    }
    .price-text {
        padding: 0;
        width: 141px; 
    }
    .h-text h4 {
        font-size: 12px;
    }
    .hashtag-price h2 {
        font-size: 20px;
    }
    .status-text h4 {
        font-size: 11px;
     }
     .status-text h3 {
         font-size: 20px;
     }
     .com-can {
        height: 110px;
    }
}