*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat';
    background: #F1F1F1;
}
.regis{
    text-decoration: none;
    color: black;
}
.report{
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-top: 30px;
}
.rep{
    text-align: center;
}
.wahala{
    display: flex;
    justify-content: center;
}
hr{
    width:200%;
    text-align: center;
    background-color: #D08840;
    height: 3px;
    border: none;

}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
form{
    width: 50%;
    border-radius: 10px;
}
.form2{
    width: 80%;
    padding-top: 30px;
}
.text{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}
.text h2:nth-child(1){
    border-bottom: 2px solid #D08840;
    width: 20%;
    text-align: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 7rem;
}
label{
    font-weight: 700;
}

.email  input{
    width: 100%;
    height: 2.5rem;
    margin:10px 0 20px 0;
    padding: 10px;
    background: none;
    border-radius: 12px;
    border: 1px solid #1C2838;
    outline: none;
}
.number  input{
    width: 100%;
    height: 2.5rem;
    margin:10px 0 0px 0;
    padding: 10px;
    background: none;
    border-radius: 12px;
    border: 1px solid #1C2838;
    outline: none;
}
.pass{
    width:100% ;
    background: none;
    border-radius: 12px;
    border: 1px solid #1C2838;
    outline: none;
    margin:20px 0  0;
    height: 2.5rem;
    display: flex;
    align-items: center;
  }
  .eye .fa-eye-slash{
    display: none;
    cursor: pointer;
  }
  .eye .fa-eye{
    cursor: pointer;
  }
.password input{
    width: 93%;
    height: 2.5rem;
    margin: 10px 0 10px 0;
    padding: 10px;
    background: none;
    border-radius: 12px;
    border: none;
    outline: none;
}
.password{
    margin-top: 20px;
}
.address{
    margin-top: 20px;
}
.address textarea{
    resize: none;
    border-radius: 20px;
    margin-top: 10px;
    width:100% ;
    padding: 10px;
    background: none;
    height: 20vh;
}

.btn-register{
    display: flex;
    justify-content: center;
    margin: 30px 0 20px 0;
}
.btn-register button{
    padding: 10px 50px;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    background: #f0e9e0;
    border: none;
}
.empty2{
    width: 70px;
}
@media screen and (max-width:576px) {
    form{
        width: 98%;
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width:419px){
    .text{
        font-size: 10px;
        
    }
}