* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: #7878780c;
  position: relative;
  font-family: "Montserrat";
}
div.general-body > div:nth-child(1) {
  width: 100%;
  height: 60px;
  padding: 10px 0px;
}
div.general-body > div:nth-child(1) > div:nth-child(1) {
  width: 100%;
  height: 30px;
  border: 2px solid #d08840;
}
div.general-body > div:nth-child(1) > div:nth-child(1) > div p {
  font-weight: 600;
  font-size: 21px;
  color: #252525;
}
div.general-body > div:nth-child(1) > div:nth-child(1) > div {
  width: 55%;
  height: auto;
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
}
div.general-body > div:nth-child(1) > div:nth-child(1) > div img {
  width: 20px;
  margin-top: 5px;
}
div.general-body > div:nth-child(2) {
  width: 100%;
  height: 115vh;
  margin-top: 10px;
  padding: 10px 0px;
}
div.general-body > div:nth-child(2) > div {
  width: 80%;
  height: 107vh;
  padding: 0px 10px;
  margin: auto;
}
div.general-body > div:nth-child(2) > div > div {
  width: auto;
  margin-top: 10px;
}
div.general-body > div:nth-child(2) > div > div:nth-child(1) {
  height: 30vh;
  border-radius: 10px;
  background: #1c2838;
  color: white;
  display: flex;
  padding: 30px 10px;
}
div.general-body > div:nth-child(2) > div > div:nth-child(1) > div > img {
  width: 20px;
}
div.general-body
  > div:nth-child(2)
  > div
  > div:nth-child(1)
  > div:nth-child(2) {
  width: 70%;
  height: auto;
  padding: 0px 20px;
}
div.general-body
  > div:nth-child(2)
  > div
  > div:nth-child(1)
  > div:nth-child(2)
  > p:nth-child(2),
div.general-body
  > div:nth-child(2)
  > div
  > div:nth-child(1)
  > div:nth-child(2)
  > p:nth-child(3) {
  font-weight: 300;
  margin-top: 10px;
}
div.general-body
  > div:nth-child(2)
  > div
  > div:nth-child(1)
  > div:nth-child(3) {
  width: 20%;
  height: auto;
  display: flex;
}
div.general-body
  > div:nth-child(2)
  > div
  > div:nth-child(1)
  > div:nth-child(3)
  > div {
  margin: auto;
}
button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: #d08840;
  color: white;
  font-weight: 600;
}
div.general-body > div:nth-child(2) > div > div:nth-child(2) {
  height: 25vh;
}
div.table {
  width: 100%;
}
div.words {
  display: flex;
  margin-top: 30px;
}
div.words > div:nth-child(2) {
  margin-left: 10px;
  font-weight: 300;
}
.size {
  width: 100%;
  height: auto;
}
div.line {
  border: 2px solid #455567;
  margin-top: 10px;
}
div.text {
  display: flex;
  padding: 20px;
  margin-top: 10px;
  justify-content: space-between;
}
div.text > div:nth-child(1) {
  display: flex;
}
div.text > div:nth-child(1) > h2:nth-child(2) {
  margin-left: 30px;
  color: #0a0879;
}
div.text > div:nth-child(1) > h2:nth-child(3) {
  margin-left: 15px;
}
div.text > div:nth-child(2) > div > img {
  width: 15px;
  height: 20px;
}

div.general-body > div:nth-child(2) > div > div:nth-child(3) {
  height: 30vh;
}
div.total {
  width: 100%;
  height: auto;
  padding: 10px;
}
div.sum {
  color: #252525;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
div.account > div.sum {
  width: 100%;
  height: auto;
  padding: 0px 10px;
}

div.general-body > div:nth-child(2) > div > div:nth-child(4) {
  height: 15vh;
}

/* POP-UP */
div.pop-up {
  width: 30%;
  height: 50vh;
  background-color: white;
  border-radius: 10px;
  /* margin: auto; */
  padding-top: 50px;
  text-align: center;
  display: none;
  position: absolute;
  top: 30%;
  left: 30%;
}
#tag {
  font-size: 50px;
  margin-bottom: 20px;
}
button.ok {
  padding: 10px 50px;
  border-radius: 20px;
  margin-top: 30px;
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 80px;
  height: 80px;
  display: none;
  margin: -76px 0 0 -76px;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #d08840;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}

@media screen and (max-width: 992px) {
  div.general-body
    > div:nth-child(2)
    > div
    > div:nth-child(1)
    > div:nth-child(3) {
    width: 50%;
  }
  div.general-body > div:nth-child(1) > div:nth-child(1) > div {
    width: 60%;
  }
  div.account > div.line {
    margin-top: 40px;
  }
  div.general-body
    > div:nth-child(2)
    > div
    > div:nth-child(1)
    > div:nth-child(2) {
    font-size: 13px;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  div.general-body > div:nth-child(1) > div:nth-child(1) > div {
    width: 65%;
  }
  div.general-body > div:nth-child(2) > div > div:nth-child(1) {
    height: 35vh;
  }
  div.general-body
    > div:nth-child(2)
    > div
    > div:nth-child(1)
    > div:nth-child(3)
    > div
    > button {
    padding: 10px 20px;
    font-size: 10px;
  }
  div.pop-up{
    width: 40%;
    left: 30%;
    font-size: 13px;
  }
}

@media screen and (max-width: 560px) {
  div.general-body > div:nth-child(2) > div {
    width: 90%;
  }
  div.general-body
    > div:nth-child(2)
    > div
    > div:nth-child(1)
    > div:nth-child(2)
    > p {
    font-size: 12px;
  }
  div.general-body > div:nth-child(1) > div:nth-child(1) > div p {
    font-size: 17px;
  }
  h2 {
    font-size: 18px;
  }
  div.general-body
    > div:nth-child(2)
    > div
    > div:nth-child(1)
    > div:nth-child(3)
    > div
    > button {
    padding: 8px 15px;
    font-size: 9px;
  }
}
@media screen and (max-width: 420px) {
  div.general-body > div:nth-child(1) > div:nth-child(1) > div {
    width: 70%;
  }
  div.general-body
    > div:nth-child(2)
    > div
    > div:nth-child(1)
    > div:nth-child(2)
    > p {
    font-size: 9px;
  }
  div.general-body > div:nth-child(2) > div > div:nth-child(1) {
    height: 25vh;
  }
  div.general-body
    > div:nth-child(2)
    > div
    > div:nth-child(1)
    > div:nth-child(3)
    > div
    > button,
  div.sum > button {
    padding: 10px 15px;
    font-size: 10px;
  }
  h2 {
    font-size: 15px;
  }
  div.general-body
    > div:nth-child(2)
    > div
    > div:nth-child(1)
    > div:nth-child(3)
    > div
    > button {
    font-size: 6px;
  }
  div.pop-up{
    width: 60%;
    left: 20%;
    font-size: 11px;
  }
}
@media screen and (max-width: 360px) {
  div.general-body > div:nth-child(2) > div {
    width: 100%;
  }
  div.general-body
    > div:nth-child(2)
    > div
    > div:nth-child(1)
    > div:nth-child(2)
    > p {
    font-size: 7px;
  }
  div.general-body > div:nth-child(1) > div:nth-child(1) > div p {
    font-size: 15px;
  }
  div.words {
    font-size: 12px;
  }
}
