* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body {
    background: #7878780c;
    font-family: "Montserrat";
  }
  div.general-body > div:nth-child(1) {
    width: 100%;
    height: 160px;
    padding: 10px 0px;
  }
  /* Codes to be formatted */
  div.general-body > div:nth-child(1) > div:nth-child(1) {
    width: 100%;
    height: 45px;
    margin-top: 5px;
    position: fixed;
    background: #1c2838;
  }
  /* ends */
  div.general-body > div:nth-child(1) > div:nth-child(2) {
    width: 100%;
    height: 30px;
    border: 2px solid #d08840;
    margin-top: 60px;
    padding: 0px 15vh;
  }
  div.general-body > div:nth-child(1) > div:nth-child(2) > div {
    display: flex;
    justify-content: space-around;
    width: 70%;
  }
  div.general-body > div:nth-child(1) > div:nth-child(2) > div p {
    font-weight: 600;
    font-size: 19px;
    color: #252525;
  }
  div.general-body > div:nth-child(1) > div:nth-child(2) > div img {
    width: 20px;
    height: 15px;
    margin-top: 5px;
  }
  
  div.general-body > div:nth-child(1) > div:nth-child(3) {
    width: 100%;
    height: 35px;
    margin-top: 20px;
    justify-content: center;
    display: flex;
  }
  div.general-body > div:nth-child(1) > div:nth-child(3) > div input {
    width: 100%;
    height: 35px;
    padding: 0px 415px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #d08840;
  }
  div.general-body
    > div:nth-child(1)
    > div:nth-child(3)
    > div
    input::placeholder {
    padding-right: 200px;
  }
  div.general-body > div:nth-child(1) > div:nth-child(3) > div img {
    width: 20px;
    height: 20px;
    margin: 8px 50px;
    position: absolute;
  }
  
  div.general-body > div:nth-child(2) {
    width: 100%;
    margin: auto;
    margin-top: 20px;
  }
  div.general-body > div:nth-child(2) > div {
    display: flex;
    width: 100%;
    padding: 10px 0px;
    justify-content: center;
  }
  div.general-body > div:nth-child(2) > div > div {
    width: 25%;
    height: 65vh;
    margin: 0px 10px;
    box-shadow: 0px 1px 1px 1px rgba(17, 17, 17, 0.13);
    background-color: white;
  }
  div.general-body > div:nth-child(2) > div > div > div:nth-child(1) {
    width: 100%;
    height: 40vh;
  }
  div.general-body > div:nth-child(2) > div > div > div:nth-child(1) img {
    width: 100%;
    height: 40vh;
  }
  div.general-body > div:nth-child(2) > div > div > div:nth-child(2) {
    width: 100%;
    height: 30vh;
  }
  div.general-body
    > div:nth-child(2)
    > div
    > div
    > div:nth-child(2)
    > div:nth-child(1) {
    width: 100%;
    height: 40px;
    padding: 30px 15px;
  }
  div.general-body
    > div:nth-child(2)
    > div
    > div
    > div:nth-child(2)
    > div:nth-child(2) {
    width: 100%;
    height: 40px;
    display: flex;
    padding: 30px 15px;
    justify-content: space-between;
  }
  
  div.general-body > div:nth-child(3) {
    width: 100%;
    height: 35vh;
  }
  div.general-body > div:nth-child(3) > div:nth-child(1) {
    width: 100%;
    height: 15vh;
    background: #1c2838;
    margin-top: 70px;
    color: white;
  }
  li,
  a {
    list-style-type: none;
    text-decoration: none;
    color: white;
  }
  div.general-body > div:nth-child(3) > div:nth-child(1) > ul {
    justify-content: space-evenly;
    margin: auto;
    display: flex;
    width: 60%;
  }
  ul > div,
  ul > li {
    margin-top: 30px;
  }
  div.general-body > div:nth-child(3) > div:nth-child(2) {
    width: 100%;
    height: 10vh;
    background: #1c2838;
    margin-top: 25px;
  }
  div.general-body > div:nth-child(3) > div:nth-child(2) > div {
    width: 80%;
    height: 10vh;
    margin: auto;
    display: flex;
  }
  div.general-body > div:nth-child(3) > div:nth-child(2) > div img {
    width: 130px;
    height: 50px;
    margin-top: 5px;
  }
  div.general-body > div:nth-child(3) > div:nth-child(2) > div a {
    margin: auto;
  }
  
  @media screen and (max-width: 992px) {
    div.general-body > div:nth-child(1) > div:nth-child(3) > div input {
      padding: 0px 300px;
    }
  }
  
  @media screen and (max-width: 768px) {
    div.general-body > div:nth-child(1) > div:nth-child(3) > div input {
      padding: 0px 245px;
    }
    div.general-body > div:nth-child(2) > div > div {
      height: auto;
      width: 27%;
    }
    div.general-body > div:nth-child(3) > div:nth-child(1) > ul {
      width: 90%;
    }
    div.general-body > div:nth-child(3) > div:nth-child(2) > div img {
      margin-top: 0px;
    }
  }
  @media screen and (max-width: 560px) {
    div.general-body > div:nth-child(2) > div {
      flex-direction: column;
      align-items: center;
    }
    div.general-body > div:nth-child(2) > div > div {
      width: 50%;
      height: auto;
      margin-bottom: 20px;
    }
    div.general-body > div:nth-child(1) > div:nth-child(3) > div input {
      padding: 0px 150px;
    }
    div.general-body > div:nth-child(3) > div:nth-child(1) > ul {
      width: 100%;
    }
  }
  @media screen and (max-width: 420px) {
    div.general-body > div:nth-child(1) > div:nth-child(2) > div {
      width: 75%;
    }
    div.general-body > div:nth-child(1) > div:nth-child(3) > div input {
      padding: 0px 100px;
    }
    div.general-body > div:nth-child(2) > div > div {
      width: 60%;
    }
    li,
    a {
      font-size: 12px;
    }
    div.general-body > div:nth-child(3) > div:nth-child(2) > div img {
      width: 110px;
      height: 40px;
      margin-top: 4px;
    }
  }
  @media screen and (max-width: 360px) {
    div.general-body > div:nth-child(1) > div:nth-child(2) {
      padding: 0px 5vh;
    }
    div.general-body > div:nth-child(2) > div > div {
      width: 90%;
    }
    li > a {
      font-size: 10px;
    }
  }
  